
.header{
    background-color: #053e77;
  
  } 
  .header button {
    background-color: #053e77; 
    border: none;
    color: white;
    font-weight: bold;
   
  }
  .header h1{
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 3px;
    
  }
  .header a{
   color: whitesmoke;
  }
  
 
  

  
  
  
  
   