.features h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  /* Features Section */
  .features i {
    color: #2578f5;
  }
  
  .features h3 {
    font-size: 1.5rem;
    margin-bottom:  1rem;
    
  }