.howitworks h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
  .howitworks i {
    color: #28a745;
  }
  
  .howitworks h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

   /* scroll-margin-top: 90px; so the fixed navbar does not hide the heading of this section when scrolled to this section or use html{ scroll-behavior : smooth} */ 