body {
  font-family: sans-serif !important;
}
.custom-container {
  background-color: #fdf6ec;
  width: 100%;
}
.heading {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.headingQuestion {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.headingPink {
  background-color: antiquewhite;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.formContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf1f8;
}

.formBox {
  background: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.formBox h2 {
  color: #1e3c72;
  font-family: "Times New Roman", serif;
}

.customToast {
  margin-top: 80px;
  margin-right: 50px;
  box-align: center;
}

/* Responsive adjustments */
@media (max-width: 545px) {
  .formBox {
    width: 310px;
  }
}
