
 
  .list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: antiquewhite;
    height: 60px;
    border-radius: 10px;
  }
  .list button{
    background-color:  #d4edda;
    color: #155724; 
    height: 30px;
    width: 150px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
  }
  .list button:hover{
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.6);
  }
 

  
   /*reponsive adjustments*/
   @media (max-width : 730px) {
    .content{
      margin-left: 0;
      width: 100%;
    }

    
   }
   @media (max-width : 507px) {
    .list li{
      width: 90px;
    }
    .list {
      gap: 10px;
    }

   }
  